/* https://www.skies.dev/tailwind-themes */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.dark {
  --color-bg-gradient-top: #260014;
  --color-bg-gradient-middle: #0d0006;
  --color-bg-gradient-bottom: #0d0006;
  --color-bg-back: #0d0006;
  --color-modal-accent: #1c1019;
  --color-modal-accent-hover: #2d1a28;
  --color-modal-bg: #111113;
  --color-modal-bg-hover: #222227;
  --color-nav-bar-accent: #1c1019;
  --color-nav-bar-accent-hover: #2d1a28;
  --color-nav-bar-bg: #111113;
  --color-nav-bar-bg-hover: #222227;
  --color-nav-menu-bg: #222227;
  --color-nav-bar-hamburger: #ffffff;
  --color-selection-highlight: #e7018c;
  --color-default-text: #ffffff;
  --color-accent-text: #ec4899;
  --color-partners-bg: #111113;
  --color-button: #ec4899;
  --color-button-bg: #000000;
  --color-button-disabled: #70194d;
  --color-button-highlight: #f446af;
  --color-footer-bg: #111113;
  --color-console-bg-outer: #000000;
  --color-console-bg-inner: #111113;
  --color-console-border-inner: #00000000;
  --color-console-border-accent: #00000000;
  --color-console-accent: #140810;
  --color-input-bg: #140810;
}

.light {
  --color-bg-gradient-top: #f8f9fa;
  --color-bg-gradient-middle: #009ce233;
  --color-bg-gradient-bottom: #ffffff4c;
  --color-bg-back: #f8f9fa;
  --color-modal-accent: #1c1019;
  --color-modal-accent-hover: #2d1a28;
  --color-modal-bg: #111113;
  --color-modal-bg-hover: #222227;
  --color-nav-bar-accent: #f2a0d2;
  --color-nav-bar-accent-hover: #f9c2e4;
  --color-nav-bar-bg: #f5c8e4;
  --color-nav-bar-bg-hover: #f1a5d4;
  --color-nav-menu-bg: #ffffff;
  --color-nav-bar-hamburger: #e7018c;
  --color-selection-highlight: #e7018c;
  --color-default-text: #212121;
  --color-accent-text: #e7018c;
  --color-partners-bg: #ccebf9;
  --color-button: #ec4899;
  --color-button-bg: #ccebf9;
  --color-button-disabled: #70194d;
  --color-button-highlight: #f446af;
  --color-footer-bg: #ccebf9;
  --color-console-bg-outer: #ffffff;
  --color-console-bg-inner: #ffffff;
  --color-console-border-inner: #000000;
  --color-console-border-accent: #e7018c;
  --color-console-accent: #ffffff;
  --color-input-bg: #fef2f9;
}
