@media (max-width: 652px) {
  .cta-line-break {
    display: none !important;
  }
}

.main-container {
  max-width: 1280px;
}

@media (max-width: 1365px) {
  .main-container {
    width: 90%;
  }
}
@media (min-width: 1366px) {
  .main-container {
    width: 1280px;
  }
}
