@media (max-width: 652px) {
  .cta-line-break {
    display: none !important;
  }
}

/* Portfolio container contains the chart */
.portfolio-container {
  width: 912px;
  height: 420px;
  @apply ml-6;
}

.chart-container {
  width: 912px;
  height: 420px;
}

.main-container {
  min-width: 1280px;
  max-width: 1280px;
}

.first-container {
  @apply flex-col;
}

.second-container {
  @apply flex-row;
}

.third-container {
  @apply flex-col;
}

.fourth-container {
  @apply flex-col;
}

.total-portfolio {
  @apply flex-row;
  @apply h-64;
}
.total-balance {
  @apply flex-col;
}
.total-interest {
  @apply flex-col;
}

.account-actions-container {
  max-width: 340px;
}

.stats-claim {
  @apply flex-row;
}
.stats-claim-bg {
  @apply w-1/4;
  @apply p-3;
  @apply items-center;
}
.stats-oh {
  @apply flex-row;
  @apply h-24;
}
.stats-oh-bg {
  @apply p-3;
  @apply ml-3;
}

@media (max-width: 1279px) {
  .main-container {
    min-width: 340px;
    max-width: 100%;
  }

  .first-container {
    @apply flex-row;
  }

  .second-container {
    @apply flex-col;
  }

  .third-container {
    @apply flex-col;
  }

  .fourth-container {
    @apply flex-row;
  }

  .account-actions-container {
    align-self: center;
  }

  .account-action-container {
    @apply mb-4;
  }

  .portfolio-container {
    align-self: center;
    min-width: 340px;
    width: min(100%, 912px);
    height: 420px;
    @apply ml-0;
  }

  .chart-container {
    min-width: 340px;
    width: min(100%, 912px);
    height: 420px;
  }

  .stats-claim {
    width: 340px;
    @apply flex-col;
  }
  .stats-claim-bg {
    @apply w-auto;
    @apply mb-4;
  }
  .stats-oh {
    @apply flex-col;
    @apply h-auto;
  }
  .stats-oh-bg {
    @apply ml-0;
  }
}

@media (max-width: 689px) {
  .total-portfolio {
    @apply flex-col;
    @apply h-auto;
  }
  .total-balance {
    @apply flex-col;
  }
  .total-interest {
    @apply flex-col;
    @apply pb-6;
  }
}
