@media (max-width: 652px) {
  .cta-line-break {
    display: none !important;
  }
}

.chart-container {
  width: 912px;
  height: 420px;
}

.main-container {
  min-width: 1280px;
  max-width: 1280px;
}
